    <div class="card mt-2">
      <h5 class="card-header">Configuration Settings</h5>
      <div class="card-body">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <div class="row mb-3">
            {{ form.CS1.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS1(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS2.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS2(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS3.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS3(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS4.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS4 }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS5.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS5(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS6.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS6(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS7.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS7(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS8.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS8(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS9.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS9(class="form-control") }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS10.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS10}}
            </div>
          </div>
          <div class="row mb-3"> 
              {{ form.CS11.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8"> 
              {{ form.CS11 }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS12.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS12 }}
            </div>
          </div>
          <div class="row mb-3">
            {{ form.CS13.label(class="col-sm-4 col-form-label fw-bold")}}
            <div class="col-sm-8">
              {{ form.CS13 }}
            </div>
          </div>
          <div class="row mb-3">
            {{form.CS14.label(class="col-sm-4 col-form-label")}}
            <div class="col-8">{{form.CS14}}</div>
          </div>
          <div class="mt-4 text-center">
            {{form.submit(class="btn btn-primary")}}
          </div>
        </form>
      </div>
    </div>
