{% set active_page ='users' %}
{% set active_inner ='allUsers' %}
{% extends 'base.html' %}
{% block breadcrumb %}
<div class="col-12 col-sm-6 col-lg-6">
  <h3>All Users</h3>
</div>
<div class="col-sm-6 col-lg-6 d-none d-lg-block">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{url_for('home.index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Users</li>
  </ol>
</div>
{% endblock %}
{% block content %}
{% include 'flashmsg.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-8 m-auto">
      <div class="card card-table mb-3">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="all_users">
              <thead>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                {% for user in all_users %}
                <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.firstname }} {{ user.lastname}}</td>
                  <td>{{ user.email }}</td>
                  {% if user.block_user == 'F' %}
                  <td><span class="badge bg-success">Enabled</span></td>
                  {% elif user.block_user == 'T' %}
                  <td><span class="badge bg-danger">Disabled</span></td>
                  {% endif %}
                  <td><a id="{{user.username}}" href="{{url_for('users.edit_user',username=user.username)}}"><i class="fas fa-edit"></i></a> </td>
                  <td><a id="{{user.username}}" href="{{url_for('users.del_user',user_id=user.id)}}" class="delete-user" userid="{{ user.id }}"><i class="fas fa-trash"></i></a> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}