{% set active_page ='users' %}
{% extends 'base.html' %}
{% block breadcrumb %}
<div class="col-12 col-sm-6 col-lg-6">
  <h3>Login Accounts</h3>
</div>
<div class="col-sm-6 col-lg-6 d-none d-lg-block">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{url_for('home.index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Users</li>
  </ol>
</div>
{% endblock %}
{% block content %}
{% include 'flashmsg.html' %}
{% include 'error_flash.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8 col-md-6 m-auto">
      <form action="" method="POST">
        <div class="card">
          <h5 class="card-header">Edit User Information</h5>
          <div class="card-body">
            {{ form.hidden_tag() }}
            <div class="row mb-3">
              {{ form.username.label(class="col-sm-4 col-form-label fw-bold") }}
              <div class="col-sm-8">
                {{ form.username(class="form-control", value=user.username) }}
              </div>
            </div>
            <div class="row mb-3">
              {{ form.firstname.label(class="col-sm-4 col-form-label fw-bold") }}
              <div class="col-sm-8">
                {{ form.firstname(class="form-control", value=user.firstname) }}
              </div>
            </div>
            <div class="row mb-3">
              {{ form.lastname.label(class="col-sm-4 col-form-label fw-bold") }}
              <div class="col-sm-8">
                {{ form.lastname(class="form-control", value=user.lastname) }}
              </div>
            </div>
            <div class="row mb-3">
              {{ form.email.label(class="col-sm-4 col-form-label fw-bold") }}
              <div class="col-sm-8">
                {{ form.email(class="form-control", value=user.email) }}
              </div>
            </div>
            <div class="row mb-3">
              {{ form.status.label(class="col-sm-4 col-form-label fw-bold")}}
              <div class="col-sm-8">
                <select name="status" class="form-control select2" style="width: 100%;">
                  {% if user.block_user == 'F' %}
                  <option value="F" selected="selected">Activated</option>
                  <option value="T">Deactivate</option>
                  {% else %}
                  <option value="F">Activate</option>
                  <option value="T" selected="selected">Deactivated</option>
                  {% endif %}
                </select>
              </div>
            </div> 
            <div class="mt-4 text-center">
              {{form.submit(class="btn btn-primary")}}
            </div>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Configurations</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12"><strong>Note:</strong>Global configuration is provided by default</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}